<div class="stage-wrapper" *ngIf="workflowItem.object && (workflowItem.object | async)?.attributes">
	<div class="panel">
		<h5>Property File</h5>
		<file-uploader *ngIf="!(workflowItem.object | async)?.attributes['property-file']" [ID]="workflowItem.ID" [type]="'file'" (update)="saveFile('property-file', $event.files)"></file-uploader>	
		<files-component *ngIf="(workflowItem.object | async)?.attributes['property-file']" [itemID]="workflowItem.ID" [fileID]="(workflowItem.object | async)?.attributes['property-file']" [deleteable]="true" (deleted)="removeFile('property-file', $event)"></files-component>	
	</div>	
	<div class="panel">
	  <h5>Listing form</h5>	
	  <div *ngIf="(workflowItem.object | async)?.attributes['listing-form']">
	    <files-component [itemID]="workflowItem.ID" [fileID]="(workflowItem.object | async)?.attributes['listing-form']"></files-component>
	  </div>
	  <div *ngIf="!(workflowItem.object | async)?.attributes['listing-form']">
	    <file-uploader [ID]="workflowItem.ID" [type]="'file'" (update)="saveFile('listing-form', $event.files)"></file-uploader>
	  </div>
	</div>
	<div class="panel">
	  <h5>Disclosure &amp; Transparency Form</h5>
	  <div *ngIf="(workflowItem.object | async)?.attributes['disclosure-transparency-form']">
	    <files-component [itemID]="workflowItem.ID" [fileID]="(workflowItem.object | async)?.attributes['disclosure-transparency-form']"></files-component>
	  </div>
	  <div *ngIf="!(workflowItem.object | async)?.attributes['disclosure-transparency-form']">
	    <file-uploader [ID]="workflowItem.ID" [type]="'file'" (update)="saveFile('disclosure-transparency-form', $event.files)"></file-uploader>
	  </div>
	</div>
	<div class="panel">
	  <h5>Marketing order form</h5>
	  <div *ngIf="(workflowItem.object | async)?.attributes['marketing-order-form']">
	    <files-component [itemID]="workflowItem.ID" [fileID]="(workflowItem.object | async)?.attributes['marketing-order-form']"></files-component>
	  </div>
	  <div *ngIf="!(workflowItem.object | async)?.attributes['marketing-order-form']">
	    <file-uploader [ID]="workflowItem.ID" [type]="'file'" (update)="saveFile('marketing-order-form', $event.files)"></file-uploader>
	  </div>
	</div>
	<div class="panel">
		<h5>Listing checklist</h5>
	  <div *ngIf="(workflowItem.object | async)?.attributes['listing-checklist']">
	    <files-component [itemID]="workflowItem.ID" [fileID]="(workflowItem.object | async)?.attributes['listing-checklist']"></files-component>
	  </div>
	  <div *ngIf="!(workflowItem.object | async)?.attributes['listing-checklist']">
	    <file-uploader [ID]="workflowItem.ID" [type]="'file'" (update)="saveFile('listing-checklist', $event.files)"></file-uploader>
	  </div>
	</div>
	<div class="panel">
		<form (ngSubmit)="updateWorkflowItem()" #listingForm="ngForm" >
		  <attributes [(model)]="workflowItem" [attributes]="attributes" [namespace]="'all'"></attributes>
		  <button type="submit" class="button">Save</button>
		</form>
	</div>
</div>