.stage-wrapper{
	padding: 20px 30px;
}

.panel{
	background: #f4f4f4;
	padding: 15px 20px;
	border: 1px solid #dddddd;
	text-transform: uppercase;
	margin-bottom: 20px;
	.agents{
		text-transform: none;	
	}
}