.filters {
	list-style-type: none;
	li {
		display: inline-block;
		padding: 20px;
	}
}

.property-detail {
  padding: 20px;
}

.property:hover {
	cursor: pointer;
}

.property-description {
	padding: 20px;
	background-color: #f4f4f4;
	margin-bottom: 20px;	
}

.placeholder {
	background-color: #e4e2e2;
	background-position: center, center; 
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
}

.agents-list {
	list-style-type: none;
}

.stage-required {
	border: 1px solid red;
	margin-bottom: 2px;
}

.gallery ul {
	list-style-type: none;
}

.property-features {
	position: relative;
}