<div class="row property-detail">
	<property-gallery [property]="property" [id]="id"></property-gallery>
</div>
<div class="row">
	<div class="small-12 medium-6 columns">
		<attributes-list [model]="property" [attributes]="attributes" [section]="'address'"></attributes-list>
	</div>	
	<div class="small-12 medium-6 columns">
		<attributes-list [model]="property" [attributes]="attributes" [section]="'listing'"></attributes-list>
	</div>		
</div>
<!-- <div class="row" *ngIf="!minimal && property.attributes['suburb-name'] != ''">
	<div class="small-12 columns">
		<iframe width="1200" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAgTpN1WhJ9BJVsdO6XjHTwIxmmRe80a58&q={{property.attributes['street-number'] + ' ' + property.attributes['street-name'] + ',' + property.attributes['suburb-name'] + ',' + property.attributes['city-name'] + ',' + property.attributes['country']}}" allowfullscreen></iframe>
	</div>
</div> -->

