<div class="small-12 columns content">
	<div class="filter-bar">
		<ul class="filters">
			<li>All</li>
			<li *ngFor="let stage of workflows.stages">{{stage.title}}</li>
			<li><search-box></search-box></li>
			<li>View grid | list</li>
		</ul>
		<button class="button right" (click)="modal.trigger('propertyForm', '')">+ Add property</button>
	</div>
	<div class="row small-up-1 medium-up-2 large-up-4" *ngIf="properties">
		<div class="column property" *ngFor="let property of properties | async | userlevel"><a [routerLink]=" ['/properties', property.$key] ">
			<div *ngIf="!property.featuredImages" class="placeholder" style="background-image: url('./img/no-image-placeholder.png');"></div>
			<img *ngIf="property.featuredImages && property.featuredImages.medium" [src]="config.imageServer + property.featuredImages.medium.src">
			</a>
			<div class="property-description">
				<a [routerLink]=" ['/properties', property.$key] "><h5>{{property.name}}</h5></a>
				<p>Owners </p>
					<ul class="no-bullet" *ngIf="workflowItems.values">
						<li *ngFor="let vendor of getVendors(property.workflowItems)"><a [routerLink]=" ['Person', {id: vendor.ID}] ">{{vendor.value.name}}</a></li>
					</ul>	
				
				<p>Agents</p>
					<ul class="no-bullet" *ngIf="workflowItems.values">
						<li *ngFor="let agent of getAgents(property.workflowItems)"><a [routerLink]=" ['Person', {id: agent.ID}] ">{{agent.value.name}}</a></li>
					</ul>	
				<div class="right"><a (click)="show[property.$key] = (show[property.$key]) ? false : true">Duplicate</a></div>
				<div *ngIf="show[property.$key]"><input #copyName type="text" value="" placeholder="copy name"><button class="button tiny radius" (click)="duplicate(property.$key, copyName.value )">Save</button></div>
			</div>	
		</div>
	</div>
</div>

