
/* AUTOCOMPLETE */

.open {
    display: block;
}

.closed {
    display: none;
}

.autocomplete {
    position: relative;
    width: 100%;
}

.autocomplete input {
    font-size: 1.2em;
    padding: .4em;
    width: 100%;
}

.autocomplete ul {
    border: none;
    outline: none;
    left: 0;
    margin: 0;	
    top: 16px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1);
}

.autocomplete li {
    background-color: #fff;
    list-style: none;
    padding: .4em;
    text-align: left;
    width: 100%;
    cursor: pointer;
    &:hover{
	    background: #fafafa;	
    }
}

.autocomplete li.active {
    background-color: #4bf;
    width: 100%;
}

.autocomplete .highlight {
    background-color: #e2e2e2;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #fff;
}

// End Autocomplete