.content{
	padding: 30px 35px;
}

input[type]{
	box-shadow: none;
	border: 1px solid #ddd;
	padding: 15px 20px;
	font-size: 16px;
	line-height: normal;
	height: auto;
}

.loading {
	position: relative;
	top: 40vh;
	left: 40%;
	height: 5vh;
	width: 20%;
	font-size: 18pt;
	color: white;  
	text-align: center;
}