.tabs {
	list-style-type: none;
	width: 100%;
	margin: 0;	
	li a {
		display: inline-block;
		float: left;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		color: #222222;
		width: 20%;
		border-right: 1px solid #d7d7d7;
		padding: 20px 0;
		font-size: 15px;
		letter-spacing: 0.06em;
		cursor: pointer;
	}
	li:last-child a {
		border-right: none;
	}
	li:hover a {
		background-color: #d7d7d7;
	}
	li.active a {
		background-color: #d7d7d7;
	}
}

.deselected {
	background-color: #8f8f8f;
}