<div class="small-12">
	<div *ngFor="let stage of workflows.stages" class="columns stages">
		<div class="stage-bar" [ngClass]="stage.className">{{stage.title}}<i *ngIf="stage.title == 'Prospect'" class="add-item" (click)="modal.trigger('workflow')">+</i><i *ngIf="stage.title == 'Sold'" class="add-item" (click)="toggleArchive()">&laquo;</i></div>
		<div class="stage">
			<div *ngFor="let item of getItems(stage.className) | async | userlevel">
				<workflow-item [item]="item" *ngIf="!item.isArchived" (modalTrigger)="workflowModal.open();"></workflow-item>
			</div>
		</div>
	</div>
	<div class="stages archive-stage" *ngIf="showArchive">
		<div class="stage-bar archive">Archive <i (click)="toggleArchive()" class="right">&raquo;</i></div>
		<div class="stage">
			<div *ngFor="let item of archiveItems | async">
				<workflow-item [item]="item" (modalTrigger)="workflowModal.open();"></workflow-item>
			</div>			
		</div>
	</div>			
</div>
<modal-component #workflowModal (change)="checkNavState($event)" class="modal">
	<workflow-tabs [workflowItem]="workflowItemsService.workflowItem"></workflow-tabs>
	<router-outlet></router-outlet>
	<workflow-item-detail></workflow-item-detail>
</modal-component>
<overlay-component [state]="overlayState"></overlay-component>

