.stages {
	padding: 0 !important;	
	float: left;
	width: 20%;	
}

.stage {
	background: #F6F6F6;
	height: 100vh;	
	border-right: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
}

.stage-bar {
	padding: 18px 30px;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;	
	letter-spacing: 0.05em;
	.add-item{
		color: #253050;
		background: #fff;
		border-radius: 50%;
		height: 21px;
		width: 21px;
		line-height: 0;
		display: block;
		float: right;
		padding: 8px 4px;
		font-size: 22px;
		font-weight: 300;
	}
}

.stage-bar.offers,
.stage-bar.sold{
	color: #454545;	
}

.archive-stage {
	position: absolute;
	right: 0;
	top: 60px;
	z-index: 300;
}

.archive {
	background: #333;
}

