<h2>My Todos</h2>
<ul class="no-bullet">
	<li *ngFor="let item of todos | async" class="row">
		<div class="small-3 columns">{{item.created}}</div>
		<div class="small-3 columns">{{item.description}}</div>   
		<div class="small-3 columns">{{item.due}}</div>
		<div class="small-3 columns">
			<a (click)="toggleAssignPanel(item.$key)">Assign</a>
			<a *ngIf="item.completed == ''" class="round" (click)="complete(item.$key)">C</a>
		</div>
	</li>
</ul>
<div class="assign-sectionl" *ngIf="showAssignPanel">
	<form (ngSubmit)="assign()" #personForm="ngForm">
	<input type="text" placeholder="assign to" [(ngModel)]="assignee.name" (keyup)="autocompletePerson.open()" (blur)="autocompletePerson.close()">
	<autocomplete-person #autocompletePerson [key]="assignee.name" [values]="people | async" (update)="load($event.$key)"></autocomplete-person>
	</form>	
</div>

<p>Create a todo</p>
<todo-form></todo-form>
