<div class="small-12 columns">
  <div class="marketing-section">
    <div class="attributes-sectionl">
      <h4>General</h4>
      <attributes [(model)]="workflowItem" [attributes]="attributes" [namespace]="'general'"></attributes>
    </div>
    <div class="integration-sectionl">
      <h4>Integrations</h4>
      <div class="row">
        <div class="small-12 medium-4 columns">
        <input type="checkbox" [(ngModel)]="workflowItem.snapshot.attributes['list-on-website']" name="listOnWebsite"> Website
        </div>
        <div class="small-12 medium-4 columns"></div>
        <div class="small-12 medium-4 columns"><div *ngIf="workflowItem.snapshot.attributes['list-on-website']"><input type="checkbox" [(ngModel)]="workflowItem.snapshot.attributes['website-featured']" name="websiteFeatured"> Feature</div></div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
        <input type="checkbox" [(ngModel)]="workflowItem.snapshot.attributes['list-on-trademe']" name="listOnTrademe"> Trade Me
        </div>
        <div class="small-12 medium-4 columns">
          <div class="integration-details-wrap" *ngIf="workflowItem.snapshot.attributes['list-on-trademe']">
            <div>
              <label>Auto-extend listing?</label>
              <input type="checkbox" [(ngModel)]="workflowItem.snapshot.attributes['auto-extend-trademe']">
            </div>
            <label for="">Category</label>
            <select [(ngModel)]="workflowItem.snapshot.attributes['trademe-category-id']">
              <option *ngFor="let category of trademe.categories" [value]="category.id" >{{category.name}}</option>
            </select>
            <label>Listing Type</label>
            <select [(ngModel)]="workflowItem.snapshot.attributes['trademe-listing-type']">
              <option value="Standard">Standard</option>
              <option value="Feature">Feature</option>
            </select>
            <label>Expected Sale Price</label>
            <price-select [selected]="workflowItem.snapshot.attributes['expected-sale-price']" (update)="workflowItem.snapshot.attributes['expected-sale-price'] = $event"></price-select>
          </div>
        </div>
        <div class="small-12 medium-4 columns">
          <div class="actions" *ngIf="workflowItem.snapshot.attributes['list-on-trademe']" >
            <ul>
              <li><a (click)="addTrademePhotos()">Upload photos to Trade Me</a></li>
              <li *ngIf="!workflowItem.snapshot.trademeListingID"><a (click)="addTrademe()">Add to Trade Me</a></li> 
              <li *ngIf="workflowItem.snapshot.trademeListingID"><a (click)="withdrawTrademe()">Withdraw from Trade Me</a></li>       
            </ul>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
        <input type="checkbox" [(ngModel)]="workflowItem.snapshot.attributes['list-on-realestate-co-nz']" (click)="autofill()"> Realestate.co.nz
        </div>
        <div class="small-12 medium-4 columns">
          <div *ngIf="workflowItem.snapshot.attributes['list-on-realestate-co-nz']">
            <label for="">Sale type</label>
            <select [(ngModel)]="workflowItem.snapshot.attributes['realestate-sale-type']">
              <option *ngFor="let type of realestate.saleTypes" [value]="type.id" >{{type.name}}</option>
            </select>
            <label for="">Pricing</label>
            <select [(ngModel)]="workflowItem.snapshot.attributes['realestate-pricing-code']">
              <option *ngFor="let type of realestate.pricingCodes" [value]="type.id" >{{type.name}}</option>
            </select>
            <label for="">Listing Type</label>
            <select #listingCode [(ngModel)]="workflowItem.snapshot.attributes['realestate-listing-code']" (change)="selectedCode = listingCode.value; updateSelects()">
              <option *ngFor="let type of realestate.listingTypes" [value]="type.id" >{{type.name}}</option>
            </select>
            <select [(ngModel)]="workflowItem.snapshot.attributes['realestate-listing-class']" *ngIf="listingCode">
              <option *ngFor="let type of listingClasses" [value]="type.id" >{{type.name}}</option>
            </select>
            <label for="">Select Location </label>
            <input type="checkbox" [(ngModel)]="workflowItem.snapshot.attributes['realestate-override-suburb']">
            <div *ngIf="workflowItem.snapshot.attributes['realestate-override-suburb']">
              <select #renzRegion [(ngModel)]="workflowItem.snapshot.attributes['realestate-region']" (change)="getRealestateDistricts(renzRegion.value)">
                <option *ngFor="let region of realestateRegions" [value]="region.region" >{{region.region}}</option>
              </select>    
              <select #renzDistrict [(ngModel)]="workflowItem.snapshot.attributes['realestate-district']" (change)="getRealestateSuburbs(renzRegion.value, renzDistrict.value)">
                <option *ngFor="let district of realestateDistricts" [value]="district.district" >{{district.district}}</option>
              </select>
              <select #renzSuburb [(ngModel)]="workflowItem.snapshot.attributes['realestate-sdn-code']" >
                <option *ngFor="let suburb of realestateSuburbs" [value]="suburb.SDN" >{{suburb.suburb}}</option>
              </select>              
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 columns">
          <div *ngIf="workflowItem.snapshot.attributes['list-on-realestate-co-nz']">
            <small>Your listing will be uploaded automatically</small>
          </div>
      </div>
    </div>
    <div class="row" *ngIf="workflowItem.property">
      <property-gallery [property]="workflowItem.property" [id]="workflowItem.property.ID"></property-gallery>
    </div> 
    </div>
    <div class="open-home-sectionl">
      <h4>Open Homes</h4>
      <open-homes [(workflowItem)]="workflowItem"></open-homes>
    </div>
    <div class="marketing-item-sectionl">
      <marketing-items-component [workflowItem]="workflowItem"></marketing-items-component>
    </div>
  </div>
</div>