<div class="details-wrap" *ngIf="workflowItemsService.workflowItem">
	<div class="small-5 medium-4 large-3 left stages-accordian"> 
	  <ul class="no-bullet">
	    <li *ngFor="let stage of workflowItemsService.workflow.stages" (click)="workflowItemsService.selectedStage = stage;">
	    	<div class="stage-marker" [ngClass]="stage.className">&nbsp;</div>
			<div class="stage-title" [ngClass]="getActive(stage.className)">{{stage.title}}   {{workflowItemsService.totals[stage.className].totals.completed}} / {{workflowItemsService.totals[stage.className].totals.total}}</div> 
	    </li>
	  </ul>
	</div>
	<div class="small-7 medium-8 large-9 left scroller details-inner">
	<button class="button second-tab" (click)="selected = ''" [ngClass]="getActivePane('')">
	Details </button>

	<button class="button second-tab" (click)="selected = 'property'" [ngClass]="getActivePane('property')">
	Property ( {{workflowItemsService.totals[workflowItemsService.selectedStage.className].property.required}} ) </button>

	<button class="button second-tab" (click)="selected = 'vendor'" [ngClass]="getActivePane('vendor')">
	Vendor ({{workflowItemsService.totals[workflowItemsService.selectedStage.className].vendor.required}} )</button>

	<button class="button second-tab" (click)="selected = 'marketing'" [ngClass]="getActivePane('marketing')">
	Marketing ({{workflowItemsService.totals[workflowItemsService.selectedStage.className].marketing.required}} )</button>
	
	<button class="button advance-button" [disabled]="!workflowItem.canAdvance" (click)="workflowItemsService.advance()">&raquo;</button>
	
	  <div [ngSwitch]="selected" class="pane-wrapper">
	    <property-section *ngSwitchCase="'property'" [(workflowItem)]="workflowItem" [(property)]="workflowItem.property" [stage]="workflowItemsService.selectedStage.className"></property-section>
	    <vendor-section *ngSwitchCase="'vendor'" [(workflowItem)]="workflowItem" [(person)]="workflowItem.person" [stage]="(workflowItem.object | async)?.stage"></vendor-section>
	    <marketing-section *ngSwitchCase="'marketing'" [(workflowItem)]="workflowItem" [stage]="(workflowItem.object | async)?.stage"></marketing-section>
	    
			<div *ngSwitchCase="''">
	      <div [ngSwitch]="workflowItemsService.selectedStage.className">
	        <prospect-stage *ngSwitchCase="'prospect'" [workflowItem]="workflowItem"></prospect-stage>
	        <appraisal-stage *ngSwitchCase="'appraisal'" [workflowItem]="workflowItem"></appraisal-stage>
	        <listing-stage *ngSwitchCase="'listing'" [workflowItem]="workflowItem"></listing-stage>
	        <market-stage *ngSwitchCase="'market'" [workflowItem]="workflowItem"></market-stage>
	        <sold-stage *ngSwitchCase="'sold'" [workflowItem]="workflowItem"></sold-stage>
	      </div>  
	    </div>
	  </div> 
	</div>
</div>