.fixed {
	position: absolute;
    bottom: 0;
    left: 80%;
}

.details-wrap{
	overflow: auto;
    background: #f4f4f4;
    float: left;
    width: 100%;
	.stages-accordian{
		ul{
			margin: 0;
			li{
				cursor: pointer;
				display: block;	
				clear: both;
				overflow: auto;	
				.stage-title{
					display: inline-block;
					padding: 0 15px;
					font-size: 14px;
					text-transform: uppercase;
					float: left;
					line-height: 45px;
					width: 97%;	
					color: #333;
					&.prospect.active, &.appraisal.active, &.listing.active, &.market.active {
						color: white;
					}
				}
				&:hover{
					background: #ededed;
				}
				.stage-marker {
					display: inline-block;
					line-height: 2.6em;
					width: 3%;
					float: left;
					line-height: 45px;
				}
			}
		}
	}
	.second-tab {
		background-color: #454545;
		color: white;
		width: 22%;
		float: left;
		display: block;
		padding: 15px 0;
		margin-bottom: 0;	
	}

	.second-tab.active {
		background-color: #5D5B5B;
	}

	.advance-button{
		width: 10%;
		padding: 15px 0;
		margin-bottom: 0;
	}
	.details-inner{
		background: #fff;	
	}
	.form-wrapper{
		background: #f4f4f4;
	}
	.scroller{
		padding: 0;	
	}
}
// .overlay-section{
// 	padding: 20px 30px;
// 	background: #454545;
// 	color: #fff;	
// 	h1, h2, h3, h4, h5, p, label{
// 		color: #fff;	
// 	}
// 	h1{
// 		font-size: 30px;
// 		font-weight: 400;
// 	}
// }
.buyers-wrap{
	clear: both;
	border-top: 1px solid #D7D7D7;
	.buyer{
		background: #fafafa;
		padding: 15px 20px;
		border-bottom: 1px solid #d7d7d7;
	}
	.add-buyer-wrap{
		padding: 15px;
		background: #fafafa;
		overflow:auto;
		input{
			width: 70%;
			float: left;
			line-height: 29px;
			height: auto;
			border-right: 0;
			margin-bottom: 0;
		}
		.button{
			margin-bottom: 0;
			width: 30%;
			float: left;
			font-size: 15px;
		}
	}
}
.timeline-wrapper{
	clear: both;
	border-top: 1px solid #D7D7D7;
	.row{
		padding: 5px 15px;
		border-bottom: 1px solid #D7D7D7;
		&:nth-child(odd){
			background: #fafafa;	
		}
	}
}

.status-callout {
	position: absolute;
	z-index:300;
	background: #fff;
	padding: 20px;
	a {
		text-decoration: none;
		color: #333;
	}
}

