@import '_palette';
@import '_settings';
@import '_import';

//

body{
	letter-spacing: 0.015em
}

i {
    cursor: pointer;
}

a {
    color: #0084ff;
    text-decoration: underline;
}

a:hover{
    color: #0084ff;
}

a, button {
    outline: none;
}

.button, button {
    color: white;
	background: #98db38;
	text-transform: uppercase;
	padding: 15px 30px;
	font-size: 16px;
	&.round {
    	border-radius: 100%;
    	padding: 15px 20px;	
    }
}

input {
    padding: 0.4em;
}

select, textarea {
  width: 100%;
  padding: 0.4em;  
  -webkit-appearance: none;
  -moz-appearance: none;
}

// Angular Material overrides - just until the dev is complete and we can create a custom theme

.md-input {
    margin: 0.3em;
}

.md-ink-ripple, .md-radio-inner-circle {
    background-color: #98db38 !important;
}

.md-radio-checked .md-radio-outer-circle {
    border-color: #98db38 !important;
}

.md-checkbox-background {
    background-color: #98db38 !important;
 }   

.right {
    float: right;
}

p {
    font-weight: 300;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'MuseoSans', sans-serif;
}

h1 {
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    color: #1B2432;
    text-transform: none;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input[type], select, textarea {
    outline: none;
    font-weight: normal;	
	border: none;
	box-shadow: none;
	font-size: 16px;
}

input[type='submit'] {
    font-family: 'MuseoSans', sans-serif;
    font-size: 18px;
}

select {
    border: 1px solid #666;
}

label {
    text-transform: none;
}

.content { 
    background-color: white;
    padding: 30px 20px;
}


.scroller {
    position: relative;
    max-height: 70vh;
    overflow-y: scroll;
    padding:20px;
}

.prospect {
    background: $prospect-color;
}
.appraisal {
    background: $appraisal-color;
}
.listing {
    background: $listing-color;
}
.market {
    background: $market-color;
}
.offers {
    background: $offers-color;
    color: #737871;
}   
.sold {
    background: $sold-color;
    color: #737871;
}


.browsehappy {
    background: #ccc;
    color: #000;
    margin: .2em 0;
    padding: .2em 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.closed {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

header {
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
    a:visited {
        color: white;
    }
    .row {
        background: none;
    }
}

nav {
    background: #454545;
    position: relative;
    padding: 0 20px;	
    h1 {
        color: white;
    }
    a {
        display: inline-block;
        line-height: 60px;
        margin-right: 30px;
        text-transform: uppercase;
    }
    
    .menu-icon{
        display: block;
		border-bottom: 1px solid #ffffff;
		border-top: 1px solid #ffffff;
		width: 20px;
		height: 15px;
		margin-top: 22px;
		position: relative;
	}
    .menu-icon:after{
	   	content: '';
		border-bottom: 1px solid #ffffff;
		width: 100%;
		position: absolute;
		left: 0;
		top: 6px;
    }
    a:hover{
	    text-decoration: none;	
    }
    ul{
	    margin: 0;		    
	    li {
	        display:inline-block;
	    }
	}
    .right-menu {
        color: white;
        display: inline-block;
        float: right;
        a{
	        margin-right: 0;	
	        margin-left: 25px;	
        }
    }
}

.left{
	float: left;
}

.right{
	float: right;
}



