    <modal-component (change)="state = $event" [instance]="'todo'" class="modal">
        <todos></todos>
    </modal-component>
    <modal-component (change)="state = $event" [instance]="'person'" class="modal">
        <person-form></person-form>
    </modal-component>
    <modal-component (change)="state = $event" [instance]="'property'" class="modal">
        <property-form></property-form>
    </modal-component>
    <modal-component (change)="state = $event" [instance]="'workflow'" class="modal">
        <workflow-item-form></workflow-item-form>
    </modal-component>
    <header>
      <nav>
        <ul class="no-bullet">
          <li>
            <a [routerLink]="['/workflow']">Workflow</a>
          </li>
          <li>
            <a [routerLink]="['/properties']">Properties</a>
          </li>
          <li>
            <a [routerLink]="['/people']">People</a>
          </li>
          <li class="right-menu"><a (click)="profileMenu.toggle()"><i class="menu-icon"></i></a></li>
          <li class="right-menu"><a (click)="modalService.trigger('todo', '')">To Do</a></li>
          
        </ul>
        <profile-menu #profileMenu></profile-menu>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
        <div>Version: {{version}} </div>
        <message></message>
    </footer>
    <confirm-modal (change)="state = $event"></confirm-modal>