.content {
    background: #efefef;
    width: 100%;
}

.context {
    background: white;
    padding: 2em;
    min-height: 40em;
}

.menu {
    border-right: 1px solid #E7E7E7;
}

.breadcrumb {
    padding: 20px 0;
}