<div class="content">
  <div class="row">
    <div class="small-3 columns menu">
      <h4><a [routerLink]=" ['/admin'] ">Admin</a></h4>
      <ul class="no-bullet">
        <li><a [routerLink]=" ['settings'] ">Settings</a></li>
        <li><a [routerLink]=" ['users'] ">User Accounts</a></li>
        <li><a [routerLink]=" ['marketing'] ">Marketing</a></li>
        <li><a [routerLink]=" ['forms'] ">Forms</a></li>
        <li><a [routerLink]=" ['reports'] ">Reports</a></li>
      </ul>
    </div>
    <div class="small-9 columns context">
      <div class="breadcrumb">
        <a (click)="admin.gotoRoot()">{{(admin.company | async)?.name}}</a> > {{(admin.office | async)?.name}}
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
