.message-open {
    left:0;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; /* Safari */
    transition: all 0.3s ease-out;
}
.message-closed {
    left:-251px;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; /* Safari */
    transition: all 0.3s ease-in;
}

.message-box {
	background: white;
	color: black;
	bottom: 100px;
	padding: 20px;
	position: absolute;
	width: 250px;
	z-index:500;
	p{
		margin-bottom: 0;	
	}
}

.success {
	border-bottom: 3px solid green;
}

.error {
	border-bottom: 3px solid red;
}

.warning {
	border-bottom: 3px solid yellow;
}
