<div class="small-12 content">
	<div class="filter-bar">
		<ul class="filters">
			<li (click)="type = 'all'">All</li>
			<li (click)="type = 'vendor'">Vendors</li>
			<li (click)="type = 'buyer'">Buyers</li>
			<li (click)="type = 'agent'">Agents</li>
			<li (click)="type = 'solicitor'">Solicitors</li>
			<li><search-box (update)="term = $event"></search-box></li>
		</ul>
		<button class="button right" (click)="modal.trigger('person', '')">+ Add person</button>
	</div>
	<div class="row">
	  <div class="small-12 columns" *ngFor="let person of people | async | userlevel | search:term:'name' | filterpeople:type">
	  	<div class="row" *ngIf="person">
	  		<div class="small-3 columns">{{person.name}}</div>
	  		<div class="small-3 columns"><a [routerLink]=" ['/people', person.$key] ">View profile</a></div>
	  		<div class="small-3 columns"><a href="mailto:{{person.email}}">Email</a></div>
	  		<div class="small-3 columns">{{person.phone}}</div>
	  	</div>
	  </div>
	</div>
</div>

