<div class="small-12 columns content">
<a class="button left" (click)="goBack()">&laquo; back</a><br>
<a class="left" (click)="createProspect()">Create prospect</a>
	<div class="row">
		<div class="small-12 medium-8 columns">
			<img class="profile-image" *ngIf="person.snapshot.profileImages" [src]="config.imageServer + person.snapshot.profileImages.medium">
			<file-uploader [ID]="person.snapshot.ID" (update)="setProfileImage($event.files)"> </file-uploader>
			<h1>{{person.snapshot.name}}</h1>
			<h5>E-mail: <a [href]="'mailto:' + person.snapshot.email">{{person.snapshot.email}}</a></h5>
			<h6>Home Phone: <a [href]="'tel:' + person.snapshot.phone">{{person.snapshot.attributes['home-phone']}}</a></h6>
			<h6>Work Phone: <a [href]="'tel:' + person.snapshot.phone">{{person.snapshot.attributes['work-phone']}}</a></h6>	
			<h6>Mobile Phone: <a [href]="'tel:' + person.snapshot.phone">{{person.snapshot.attributes['mobile-phone']}}</a></h6>
			<div *ngIf="show">
				
			</div>
			<div class="solicitor-sectionl">
				<h4>Solicitor Details</h4>
				<solicitor-component [(person)]="person" (update)="person.snapshot.solicitorID = $event"></solicitor-component>					
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<h5>General</h5>
			<attributes-list [(model)]="person" [attributes]="attributes" [namespace]="'general'" [editable]="true"></attributes-list>

		<div class="profile-section" *ngIf="person.snapshot.buyer">
			<h5>Buyer Profile</h5>
			<attributes-list [(model)]="person" [attributes]="attributes" [namespace]="'buyer'" [editable]="true"></attributes-list>				
		</div>
		<div class="profile-section" *ngIf="person.snapshot.vendor">
			<h5>Vendor Profile</h5>
			<attributes-list [(model)]="person" [attributes]="attributes" [namespace]="'vendor'" [editable]="true"></attributes-list>
		</div>
		<div class="profile-section" *ngIf="person.snapshot.solicitor">
			<h5>Solicitor Profile</h5>
			<attributes-list [(model)]="person" [attributes]="attributes" [namespace]="'solicitor'" [editable]="true"></attributes-list>
		</div>			
		<div class="profile-section" *ngIf="person.snapshot.agent">
			<h5>Agent Profile</h5>
			<attributes-list [(model)]="person" [attributes]="attributes" [namespace]="'agent'" [editable]="true"></attributes-list>	
		</div>				
					
		</div>
	</div>
	
	<a (click)="setType('agent')" class="button">Set as agent</a>
	<a (click)="setType('solicitor')" class="button">Set as Solicitor</a>
</div>
