<div class="small-12 medium-10 medium-centered columns content">
	<h2>My Profile</h2>
	<h4>{{person.name}}</h4>
	<p><a [routerLink]="['/changepassword']">Change password</a></p>
	<img *ngIf="person.profileImages" [src]="config.imageServer + person.profileImages.medium">
	<file-uploader [ID]="person.ID" [type]="'profile'" (update)="setImages($event.files)"></file-uploader>
	<form (ngSubmit)="onSubmit()" #propertyForm="ngForm" >
	<attributes [attributes]="attributes" [(model)]="person" ></attributes>
	<div class="profile-section" *ngIf="person.vendor">
		<h5>Vendor Profile</h5>
		<attributes [attributes]="attributes" [(model)]="person" [namespace]="'vendor'"></attributes>		
	</div>
	<div class="profile-section" *ngIf="person.agent">
		<h5>Agent profile</h5>
		<attributes [attributes]="attributes" [(model)]="person" [namespace]="'agent'"></attributes>
		<div class="panel">
		<p>Agent file</p>
			<file-uploader *ngIf="!person.attributes['agent-file']" [ID]="person.ID" [type]="'file'" (update)="saveAgentFile($event.files)"></file-uploader>	
			<files-component *ngIf="person.attributes['agent-file']" [itemID]="person.ID" [fileID]="person.attributes['agent-file']" [deleteable]="true" (deleted)="removeAgentFile($event)"></files-component>				
		</div>
	</div>	
	<div class="profile-section" *ngIf="person.buyer">
		<h5>Buyer Profile</h5>
		<attributes [attributes]="attributes" [(model)]="person" [namespace]="'buyer'"></attributes>		
	</div>
	<div class="profile-section" *ngIf="person.solicitor">
		<h5>Solicitor Profile</h5>
		<attributes [attributes]="attributes" [(model)]="person" [namespace]="'solicitor'"></attributes>		
	</div>
		<button type="submit">Save</button>		
	</form>



	
</div>	