.profile-menu {
	position: absolute;
	background: white;
	padding: 25px;
	z-index: 900;
	top:60px;
	
	right:0;
	ul li {
		display:block;
		a {
			color: black;
			text-transform: none;
		}
	}
}

.profile-menu-open {
	display: block;
}

.profile-menu-closed {
	display: none;
}

.profile-menu-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: none;
	z-index: 850;
}

.profile-menu-overlay .open {
	display: block;
}	

.profile-menu-overlay .closed {
	display: none;
}	
