
<div class="marketing-item-sectionl">
  <h4>Marketing Plan</h4>
  <div class="row">
    <div class="small-12 medium-4 columns">Item</div>
    <div class="small-12 medium-2 columns">Price</div>
    <div class="small-12 medium-2 columns">Booked</div>
    <div class="small-12 medium-2 columns">Completed</div>
    <div class="small-12 medium-2 columns">Actions</div>
  </div>
  <div class="row" *ngFor="let item of marketingItems | async">
    <div class="small-12 medium-4 columns">
      {{item.type}} - {{item.option}}<br>
      <small>to be paid by {{item.orderedBy}}</small>
    </div>
    <div class="small-12 medium-2 columns">
      ${{item.price}}<br>
      <small>Paid: ${{item.amountPaid}}</small><br>
      <small>Remaining ${{item.price - item.amountPaid}}</small><br>
    </div>
    <div class="small-12 medium-2 columns"><input type="checkbox" [(ngModel)]="item.booked" name="itemBooked" (change)="updateBooked(item, $event)"></div>
    <div class="small-12 medium-2 columns"><input type="checkbox" [(ngModel)]="item.completed" name="itemCompleted" (change)="updateCompleted(item, $event)"></div>
    <div class="small-12 medium-2 columns actions">
      <md-input (change)="addPayment(item, $event)" placeholder="Add payment"></md-input>
      <a (click)="delete(item.$key)">x</a>
    </div>
  </div>
  
  <div class="form-sectionl" *ngIf="showForm">
    <div class="row">
      <div class="small-6 medium-3 columns">Item</div>
      <div class="small-6 medium-3 columns">Option</div>
      <div class="small-6 medium-3 columns">To be paid by</div>
      <div class="small-6 medium-3 columns">Price</div>
    </div>
    <div class="row">
      <div class="small-6 medium-3 columns">
        <select #selected [(ngModel)]="marketingItem" name="marketingItem" (change)="loadOptions(selected.value)">
          <option *ngFor="let item of marketingItemsList | async" [value]="item.$key">{{item.name}}</option>
        </select>          
      </div>
      <div class="small-6 medium-3 columns">
        <select #opt [(ngModel)]="selectedOption" name="selectedOption" (change)="selectPrice(opt.value)">
          <option *ngFor="let option of options | async" [value]="option.$key">{{option.option}}</option>
        </select>          
      </div>
      <div class="small-6 medium-3 columns">
        <select [(ngModel)]="orderedBy" name="orderedBy" >
          <option value="vendor">Vendor</option>
          <option value="agent">Agent</option>
          <option value="office">Office</option>
          <option value="other">Other</option>
        </select>          
      </div>
      <div class="small-6 medium-3 columns">
        <input type="number" [(ngModel)]="price" placeholder="price" name="price">
        
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns"><button (click)="addItem()">Add item</button></div>
    </div>        
  </div>
  <div><a (click)="toggleForm()">{{showFormLabel}}</a></div>
</div>
