.open {
	display: block;
}

.closed {
	display: none;
}

// Global modal styles

.modal-close-button {
    color: #fff;
	background: #333;
	display: block;
	padding: 5px 10px;
	position: absolute;
	top: 15px;
	right: -36px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	cursor: pointer;
	p{		
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    font-size: 25px;
		padding: 0;
		margin: 0;
		line-height: 30px
	}
}
.modal {
    background: white;
    color: black;
    margin-top: 10vh;
    max-height: 80vh;
    padding: 0;
    position: absolute;
    left: 10%;
    width: 80%;
    z-index:500;
}
.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:400;
}
.modal-overlay.light {
    background: rgba(255, 255, 255, 0.5);
}
.modal.second {
	margin-top: 1vh;
	z-index:700;
	.modal{
		padding: 20px;
		margin-top: 4vh;
		max-height: 80vh;
		position: relative;
		left: 5%;
		width: 90%;
		z-index: 500;
	}
	.modal-overlay.open{
		height: 100%;	
	}
}

.splash {
	background: rgba(88, 119, 142, 1);
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    margin-left: -17px;
    margin-top: -17px;
}
 
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 3px solid #000;
    border-top-color: #f4f4f4;
    animation: spinner 1.5s linear infinite;
    -webkit-animation: spinner 1.5s linear infinite;
}

.spinner.white:not(:required):before{
	border-top-color: #fff;
}
