.offers-list {
	list-style-type: none;
	li {
		position: relative;
	}
}

.details-callout {
	position: absolute;
	background-color: #FFF;
	padding:5px;
	left: 0;
	top: 30px;
	z-index:500;
	p {
		text-transform: none;
	}
}