<a class="small-12 columns workflow-item" (click)="select()" [routerLink]="['/workflow/details', workflowItem.ID]">
	<div class="property" *ngIf="workflowItem.property && workflowItem.property.object">{{(workflowItem.property.object | async)?.name }}</div>
	<div class="vendor" *ngIf="workflowItem.person && workflowItem.person.object">{{(workflowItem.person.object | async)?.name }}</div> 
</a>
