.workflow-item {
	background-color: #FFF;
	padding: 15px 20px;
	border-bottom: 1px solid #E7E7E7;
	cursor: pointer;
	color: #444444;
	text-decoration: none;

	.vendor{
		font-size: 11px;
		font-weight: 500;
		color: #777777;
		text-transform: uppercase
	}
	&:hover{
		background: #fafafa;	
	}
}

.modal-form{
	.add-header{
		background: #f2f2f2;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		padding: 20px 30px
	}
	form{
		.form-padding{
			padding: 30px;
		}
		.button{
			width: 100%;
			margin-bottom: 0	
		}
	}
}

.modal.second{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: auto;
	.modal{
		padding: 20px;
		margin-top: 4vh;
		max-height: 80vh;
		position: relative;
		left: 5%;
		width: 90%;
		z-index: 500;
	}
	.modal-overlay.open{
		height: 100%;	
	}
}

