<div *ngIf="workflowItemsService.workflowItem && workflowItemsService.workflowItem.snapshot" >
	<div class="small-12">
		<div class="row detail-bar">
			<div class="small-1 columns">{{workflowItemsService.workflowItem.snapshot.stage | uppercase}}</div>
			<div class="small-2 columns">Listing {{workflowItemsService.workflowItem.snapshot.listingID}} </div>
			<div class="small-2 columns"><a *ngIf="workflowItemsService.workflowItem.snapshot.trademeListingID" [href]="'http://www.trademe.co.nz/Browse/Listing.aspx?id=' + workflowItemsService.workflowItem.snapshot.trademeListingID" target="_blank">Trade Me</a></div>
			<div class="small-2 columns"><a *ngIf="workflowItemsService.workflowItem.snapshot.realestateListingID" [href]="'http://www.realestate.co.nz/' + workflowItemsService.workflowItem.snapshot.realestateListingID" target="_blank">Realestate.co.nz</a></div>
			<div class="small-1 columns"><a *ngIf="workflowItemsService.workflowItem.snapshot.websiteID" [href]="'https://www.trinitynetwork.co.nz/property/' + workflowItemsService.workflowItem.snapshot.listingID.replace('TTN-', '')" target="_blank">Website</a></div>
			<div class="small-2 columns"><span *ngIf="workflowItemsService.workflowItem.snapshot.created">Created {{workflowItemsService.workflowItem.snapshot.created | todate | date:'dd MMM y' }}</span></div>
			<div class="small-2 columns right"><button (click)="save()" class="right" [disabled]="disableSave">{{saveButtonText}}</button></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<a (click)="toggleStatusPanel()">Change Status</a>
			<div class="status-sectionl" *ngIf="showStatusPanel">
				<textarea placeholder="Reason" [(ngModel)]="reason"></textarea>	
				<a (click)="changeStatus('Active')">Active</a>
				<a (click)="changeStatus('On Hold')">On Hold</a>
				<a (click)="changeStatus('Trashed')">Trash</a>
				<a (click)="changeStatus('Withdrawn')">Withdraw</a>
			</div>
		</div>
	</div>	
	<a (click)="workflowItemsService.workflowItem.update('stage', 'sold')">mark as sold</a> <span *ngIf="workflowItemsService.workflowItem.canDuplicate">| 
	<a (click)="duplicate()">duplicate</a></span>
</div>

